services:
  - type: web
    name: expense-tracker-api
    env: docker
    dockerfilePath: ./Dockerfile
  
    plan: free
    autoDeploy: true
    envVars:
      - key: ConnectionStrings__DefaultConnection
        value: Server=DESKTOP-N8TNQVH\\SQLEXPRESS;Database=ExpenseDatabase;Trusted_Connection=True;TrustServerCertificate=True;
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
